* {
    box-sizing: border-box;
}

input.showcase, input.new {
    margin: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

input.showcase[type='text'] {
    border: none;
}

input.showcase[type='text']:focus {
    margin: 1px;
    border: 1px solid black;
}

input.showcase:nth-of-type(3) {
    color: grey;
}

input.new:nth-of-type(3) {
    margin: 3px;
}

input[disabled] {
    text-align: center;
    background-color: white;
    border: none;
    font-weight: bold;
}

button#add {
    margin-left: 2px;
}
